body {
    margin: 0;
    padding: 0;
    background-color: #191919;
}

/* 1-home.html */

.parte-azul {
    background-color: #1C2D76;
    width: 1500px;
    display: flex;
    margin: auto;
    margin-top: 30px;
    border-radius: 30px;
}

.parte-azul h1 {
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-size: 100px;
    color: #0D1745;
    box-shadow: #6D80D4;
    margin-top: 500px;
}

.parte-azul p {
    font-family: "Abhaya Libre", serif;
    font-weight: 500;
    font-size: 30px;
    color: #6D80D4;
    margin-top: 605px;
    margin-left: 290px;
    position: absolute;
}

.parte-roxa {
    background-color: #56349F;
    width: 22%;
    height: 50%;
    padding: 40px;
    display: block;
    margin-left: 650px;
    margin-top: 50px;
    border-radius: 30px;
}

.parte-roxa h2 {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 30px;
    color: #191919;
    text-align: center;
    margin: 0;
}

.parte-roxa p {
    font-family: "Baloo Bhai 2", sans-serif;
    color: #23173F;
    font-size: 18px;
    text-align: center;
}

.parte-roxa button {
    background-color: #191919;
    color: #56349F;
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 20px;
    border-radius: 100px;
    border: none;
    padding: 5px 10px 5px 10px;
    display: block;
    margin: auto;
}

.parte-roxa button:hover {
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;

}

button {
    display: block;
    margin: 15px;
    font-size: 20px;
    font-family: "Baloo Bhai 2", sans-serif;
    border-radius: 40px;
    border: none;
    padding: 0 12px 0 12px;
    color: #191919;
    position: relative;
}

button.insta{
    background-color: #687DD8;
}

button.face{
    background-color: #726EE2;
}

button.twt{
    background-color: #8663D2;
}

button:hover {
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;

}