body {
    margin: 0;
    padding: 0;
    background-color: #191919;
}

p {
    font-family: "Baloo Bhai 2", sans-serif;
    color: #D0D0D0;
    font-size: 30px;
    max-width: 50vw;
}

h1.h1-azul {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 55px;
    margin: 20px auto;
    color: #6D80D4;
    background-color: #1C2D76;
    border-radius: 100px;
    max-width: fit-content;
    text-align: center;
}

h1.h1-roxo {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 55px;
    margin: 30px auto;
    color: #8663D2;
    background-color: #3C2370;
    border-radius: 100px;
    max-width: fit-content;
    text-align: center;
}

/* footer */
footer {
    background-color: #23173F;
    padding: 1vw;
    margin: 5vw 0 0 0 ;
    display: flex;
    justify-content: space-around;
    align-items: baseline; /*Não applicado por hora*/
}


.copyright {
    font-size: 20px;
    color: #56349F;
}

.esquerda-footer {
    display: block;
}

footer nav a{
font-size: 1.5vw;
margin: 2px;
color: #56349F;
}

.hypnos {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 25px;
    color: #56349F;
}

footer nav button a{
    font-size: 2vw;
}

p.nomes{
    font-size: 20px;
}

/*header*/
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #23173F;
}

header nav ul li{
    display: flex;
     margin: 0 10vw 0 10vw;
} /* /* pedir ajuda para o kennedy */


/* index.html */

.parte-azul {
    background-color: #1C2D76;
    background: url(../imagens/enxoval.png) no-repeat, #1C2D76;
    background-size: 100% auto, auto;
    display: flex;
    width: 90%;
    margin: 30px auto;
    border-radius: 30px;
    padding: 40vw 0 10vw 5vw;
    color: white;
}

.esquerda {
    display: block;
}



.parte-azul h1 {
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-size: 140px;
    color: #0D1745;
}

.parte-azul img {
    width: 100%;
    border-radius: 30px;
    margin: -30px;
}

.parte-azul p {
    font-family: "Abhaya Libre", serif;
    font-weight: 500;
    font-size: 40px;
    color: #6D80D4;
    position: absolute;
    margin: -5vw 0 0 12vw
}


.parte-roxa {
    background-color: #56349F;
    width: 32%;
    padding: 40px;
    display: block;
    border-radius: 30px;
}

.parte-roxa h2 {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 40px;
    color: #191919;
    text-align: center;
    margin: 0;
}

.parte-roxa p {
    font-family: "Baloo Bhai 2", sans-serif;
    color: #23173F;
    font-size: 30px;
    text-align: center;
}

.parte-roxa button {
    background-color: #191919;
    color: #56349F;
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 30px;
    border-radius: 100px;
    border: none;
    padding: 10px 15px 10px 15px;
    margin: auto;
}

.parte-roxa button:hover {
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;

}

.botoes {
    display: block;
}

button {
    display: block;
    margin: 1vw;
    font-size: 30px;
    font-family: "Baloo Bhai 2", sans-serif;
    border-radius: 40px;
    border: none;
    padding: 0 12px 0 12px;
    color: #191919;

}

button.insta {
    background-color: #687DD8;
}

button.face {
    background-color: #726EE2;
}

button.twt {
    background-color: #8663D2;
}

button:hover {
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;

}

section.convite{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 2-oqueésono.html */

 p.introducao{
    max-width: 70vw;
    margin: auto;
    color: #D0D0D0;
 }

 div.conteudo-azul{
    margin: 2vw auto;
    padding: 5vw 5vw;
    max-width: 50vw;
    background-color: #0D1745;
 }

  div.conteudo-roxo{
    margin: 2vw auto;
    padding: 5vw 5vw;
    max-width: 50vw;
    background-color: #23173F;
 }


 img.carrossel{
    max-width: 20vw;
    border-radius: 10px;
    margin: auto;
 }
 /*4-bonsemaushabitos.html*/

 section.inicio-4 p{
    text-align: center;
 }

 div.bonsEMausHabitos{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
 }

 h2.h2-4 {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 50px;
    margin: 10px 0;
    color: #D0D0D0;
}

section.bons{
    text-align: center;
    background-color: #54B268;
    margin: 2vw;
    padding: 2vw;
    border-radius: 50px;
}

section.maus{
    text-align: center;
    background-color: #B25454;
    margin: 2vw;
    padding: 2vw;
    border-radius: 50px;
}

section.bons p {
    color: #165E26;
}

section.bons h2 {
    color: #165E26;
}

section.maus p{
    color: #5E1616;
}

section.maus h2{
    color: #5E1616;
}

section.bons img{
    width: 15%;
    display: block;
    margin: auto;
}

section.maus img{
    width: 15%;
    display: block;
    margin: auto;
}

img{
    width: 50%;
    display: block;
    margin: auto;
    border-radius: 50px;
}


/* 7-areadecontatoeajuda.html*/
h2.h2-azul {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 50px;
    margin: 10px 0;
    color: #6D80D4;
}

h2.h2-roxo {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 50px;
    margin: 10px 0;
    color:  #8663D2;
}

summary {
    font-family: "Baloo Bhai 2", sans-serif;
    color: #D0D0D0;
    font-size: 25px;
    margin: 10px;
    list-style: none;
    width: 530px;
    border-bottom: 4px solid #1C2D76;
    padding-bottom: 18px;
}

section.faq{
    padding: 0 5vw;
}

#p1 {
    margin-left: 25px;
}

#p2 {
    margin-left: 73px;
}

#p3 {
    margin-left: 167px;
}

#p4 {
    margin-left: 79px;
}

#p5 {
    margin-left: 109px;
}

#p6 {
    margin-left: 84px;
}


p.expansao {
    font-family: "Baloo Bhai 2", sans-serif;
    color: #7B7B7B;
    font-size: 20px;
    margin: 20px;
    margin-left: 70px;
}

p.expansao a {
    font-family: "Baloo Bhai 2", sans-serif;
    color: #1C2D76;
    font-size: 20px;
}

 /*8-sobrenos.html*/
ul li{
    color: #3C2370;
}

