body {
    margin: 0;
    padding: 0;
    background-color: #191919;
}

main.conteudo {
    margin: 4rem auto;
    text-align: center;
    max-width: 1000px;
}

main.conteudo2 {
    margin: 4rem auto;
    text-align: center;
    max-width: 1300px;
}

ul li {
    list-style: none;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
    box-sizing: border-box;
}


p {
    font-family: "Baloo Bhai 2", sans-serif;
    color: #D0D0D0;
    font-size: 1.5rem;
}

img {
    width: 80%;
    border-radius: 15px;
}

p.introducao {
    text-align: center;
}


h1.h1-azul {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 2.8rem;
    margin: 20px auto;
    color: #6D80D4;
    background-color: #1c2c768f;
    border-radius: 100px;
    max-width: fit-content;
    padding: 0.8rem 2rem;
    text-align: center;
    border: 2px solid #6d80d4;
}

h1.h1-roxo {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 2.8rem;
    margin: 20px auto;
    color: #8663D2;
    background-color: #3b23709b;
    border-radius: 100px;
    max-width: fit-content;
    padding: 0.8rem 2rem;
    text-align: center;
    border: 2px solid #8663D2;
}

h2.h2-azul {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 1rem;
    border-left: 5px solid #6d80d4;
    padding-left: 0.7rem;
    margin: 10px 0;
    color: #6D80D4;
}

h2.h2-roxo {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 1rem;
    border-left: 5px solid #8663D2;
    padding-left: 0.7rem;
    margin: 10px 0;
    color: #8663D2;
}

div.conteudo-azul {
    margin: 2vw auto;
    padding: 3vw 3vw;
    max-width: 50vw;
    border-radius: 25px;
    box-shadow: 0 0 25px #2d45b352;
    background-color: #0d174595;
    text-align: left;
}

div.conteudo-roxo {
    margin: 2vw auto;
    padding: 3vw 3vw;
    max-width: 50vw;
    border-radius: 25px;
    box-shadow: 0 0 25px #5e3fa856;
    background-color: #23173faa;
    text-align: left;
}

div.conteudo-roxo2 {
    margin: 2vw auto;
    padding: 5vw 5vw;
    max-width: 90vw;
    background-color: #23173F;
}

button.roxo {
    background-color: #3C2370;
    padding: 10px;
}

button.azul {
    background-color: #1C2D76;
    padding: 10px;
}

div.centralizarBotoes {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0 auto;
}

div.centralizarBotoes ul li {
    list-style: none !important;
    margin: 0.5rem 0;
    width: 90%;
}


.centralizarBotoes button.roxo:hover {
    transition: .2s ease;
    transform: scale(1.1);
    cursor: pointer;
    background: #5c34b2ac;
}

.centralizarBotoes button.azul:hover {
    transition: .2s ease;
    transform: scale(1.1);
    cursor: pointer;
    background: #354cb7c2;
}

div.centralizarBotoes h2 {

    text-align: center;
    margin: 5vw 0 0 0;
}

div.centralizarBotoes h2 span {
    border-radius: 50px;
    font-family: "Baloo Bhai 2", sans-serif;
    color: #D0D0D0;
    font-size: 30px;
    font-weight: bold;
    background: #293f9f;
    padding: 5px 15px;
}

div.centralizarBotoes ul li {
    margin: 15px 0;
    list-style: disc;
}

div.centralizarBotoes ul li a {
    color: #8697e4;
}

div.centralizarBotoes ul.fontesRoxas li a {
    color: #a286e4;
}



a.fontes:hover {
    transform: scale(1.1);
    transition: .2s;
    cursor: pointer;

}

button {
    border-radius: 50px;
    font-family: "Baloo Bhai 2", sans-serif;
    color: #D0D0D0;
    font-size: 30px;
    font-weight: bold;
}

/* -----footer----- */
footer {
    background-color: #23173F;
    padding: 1vw;
    margin: 5vw 0 0 0;
    display: flex;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    align-items: center;

    /*Ver no atendimento dev web*/
}


.copyright {
    font-size: 20px;
    color: #8663D2;
    margin: 1vw 0;
}

.esquerda-footer {
    display: block;
}

footer nav a {
    font-size: 1.5rem;
    margin: 2px;
    color: #8663D2;
}

footer nav a.botao-topo {
    font-size: 2vw;
    color: #8663D2;
    border-radius: 50px;
    background: #D0D0D0;
    padding: 10px;
    border-radius: 50%;
}

footer nav a.botao-topo:hover {
    background: white;
    transform: scale(0.9);
    transition: 0.2s ease-in-out;
}

.hypnos {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 25px;
    color: #8663D2;
    margin: 1vw 0;
}

footer nav button {
    font-size: 2vw;
    color: #8663D2;
}

p.nomes {
    font-size: 20px;
}

footer form {
    background-color: #2f2155;
    border-radius: 25px;
    padding: 30px 25px;
    width: 100%;
    color: #e3e3e3;
    box-shadow: 0 6px 20px #0000005b;
}

footer form p {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

footer label {
    font-size: 1.2rem;
    margin-bottom: 6px;
    color: #d0d0d0;
}

footer input,
footer textarea {
    background-color: #3c2d70;
    border-radius: 10px;
    color: #ffffff;
    padding: 10px 12px;
    font-size: 1rem;
    font-family: "Baloo Bhai 2", sans-serif;
}

div.botoes-footer {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

div.botoes-footer button {
    background-color: #d0d0d0;
    color: #56349f;
    border-radius: 25px;
    padding: 10px 25px;
    font-size: 18px;
    font-family: "Baloo Bhai 2", sans-serif;
    cursor: pointer;
}

div.botoes-footer button:hover {
    transition: .2s ease;
    transform: scale(0.95);
}

/*-----header-----*/
header img.header {
    width: 4vw;
    margin-left: 25px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D1745;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

header nav ul li {
    position: relative;
    display: flex;
    margin: 0 0.5vw 0 0.5vw;
    font-family: "Baloo Bhai 2", sans-serif;
    color: #D0D0D0;
    font-size: 20px;
}

header nav ul li ul {
    display: none;
    background-color: #1C2D76;
    border-radius: 50px;
    padding: 5px 5px;
    top: 100%;
    margin-top: 3px;
    width: auto;
}

header nav ul li ul li a {
    padding: 8px 12px;
    display: block;
}

header nav ul li a {
    text-decoration: none;
    text-align: center;
    color: inherit;
    background-color: #1C2D76;
    border-radius: 50px;
    padding: 10px;
    white-space: nowrap;
    min-width: 120px;
}

header nav ul li a:hover {
    transform: scale(0.9);
    transition: 0.2s ease-in-out;
}

.menu {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: #D0D0D0;
    cursor: pointer;
}



/* -----index.html----- */

section.convite {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parte-azul {
    background-color: #1C2D76;
    background: url(../imagens/enxoval.png) no-repeat, #1C2D76;
    background-size: 100% auto, auto;
    display: flex;
    width: 90%;
    margin: 30px auto;
    border-radius: 30px;
    padding: 40vw 0 10vw 5vw;
    color: white;
}

.esquerda {
    display: block;
}



.parte-azul h1 {
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-size: 140px;
    color: #6D80D4;
}


.parte-azul p {
    font-family: "Abhaya Libre", serif;
    font-weight: 500;
    font-size: 40px;
    color: #D0D0D0;
    position: absolute;
    margin-left: 10vw;
}

section.convite {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin: 5vw auto;
    text-align: center;
}

.parte-roxa {
    background: #5f3ab8;
    width: 45%;
    padding: 60px 40px;
    border-radius: 30px;
    color: #d0d0d0;
    box-shadow: 0 8px 25px #23173F;
}

.parte-roxa h2 {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

.parte-roxa p {
    font-family: "Baloo Bhai 2", sans-serif;
    color: #e2e2e2;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    line-height: 1.4;
}

.parte-roxa .botao-roxo {
    background-color: #d0d0d0;
    color: #56349F;
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 1.5rem;
    border-radius: 100px;
    padding: 15px 35px;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(128, 128, 128, 0.518);
}

.parte-roxa .botao-roxo:hover {
    transition: .2s ease;
    background-color: #f1f1f1;
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

section.convite a.insta,
section.convite a.twt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.5rem;
    font-family: "Baloo Bhai 2", sans-serif;
    border-radius: 50px;
    padding: 12px 25px;
    text-decoration: none;
    color: #ffffff;
    width: fit-content;
}

section.convite a.insta {
    background-color: #687DD8;
}

section.convite a.twt {
    background-color: #8663D2;
}

section.convite a:hover {
    transition: .4s ease;
    transform: scale(0.95);
    filter: brightness(1.1);
}

.parte-azul2 {
    background-color: #1C2D76;
    display: flex;
    width: 70%;
    margin: 30px auto;
    border-radius: 30px;
    padding: 5vw;
    color: white;
    align-items: center;
    gap: 55px;
    box-shadow: 0 8px 25px #0d1745ab;
}

div.parte-azul2 a.botao-azul {
    display: block;
    text-align: center;
    background-color: #d0d0d0;
    color: #293f9f;
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 30px;
    border-radius: 100px;
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    width: 32vw;
    margin: 2vw 0 0 0;
    box-shadow: 0 5px 15px rgba(128, 128, 128, 0.518);
}

div.parte-azul2 a.botao-azul:hover {
    transition: .2s ease;
    background-color: #f1f1f1;
}

div.parte-azul2 img {
    width: 100%;
}

/* -----2-oqueésono.html----- */

p.conteudo {
    color: #d0d0d0;
    font-size: 1.5rem;
    line-height: 1.9;
    margin-bottom: 2rem;
}

/*
img.carrossel {
    width: 100%;
    max-width: 400px;
    margin: 2rem auto;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.386);
    display: flex;
    justify-content: center;
}*/

div.carrossel {
    width: 90%;
    display: flex;
    align-items: center;
}

div.carrossel>img {
    height: 50px;
    width: 50px;


}


/* caso alterar a imagem deixar o height 25% maior  */
div.carrossel>div.carro-container {
    display: block;
    width: 300px;
    height: 400px;

    overflow: hidden;

    position: relative;

}

div.carrossel div.carro-container div {
    position: absolute;
    display: flex;
    width: 900px;
    /**/
    height: 375px;

}

div.carrossel div.carro-container div img {
    width: 300px;
    height: 375px;

}

img.anterior {
    transform: rotate(180deg);
    margin: 0 2vw;
    /*width: 100px;*/
}

img.proximo {
    margin: 0 2vw;
}

div.carrossel {
    justify-content: center;
    display: flex;
    margin-left: 2vw;
}

iframe {
    width: 100%;
    max-width: 700px;
    border-radius: 15px;
    margin: 2rem auto;
    display: block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.386);
}

div.centralizarBotoes h2 span {
    background: #2a3dc7;
    color: white;
    padding: 8px 20px;
    border-radius: 30px;
    font-size: 1.4rem;
    display: inline-block;
}

div.centralizarBotoes ul {
    margin-top: 1.5rem;
    padding-left: 2rem;
}

div.centralizarBotoes ul li {
    margin: 10px 0;
}

div.centralizarBotoes ul li a.verde {
    color: #276933;
    text-decoration: none;
    transition: 0.3s;
}

div.centralizarBotoes ul li a.vermelho {
    color: #922424;
    text-decoration: none;
    transition: 0.3s;
}

div.centralizarBotoes ul li a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* -----3-sonoesaudemental----- */

div.imagem {
    margin: 2vw auto;
    display: flex;
    justify-content: center;
}

div.imagem img {
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.386);
}

p.separar {
    margin: 1vw 0;
}

/* -----3.1-beneficiosemaleficios----- */

section.int {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 2rem;
}

section.tudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 3rem;
    align-items: stretch;
}

.esquerda,
.direita {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 25%;
    gap: 2rem;
}

.bloco:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(100, 120, 220, 0.3);
}

section.beneficios,
section.maleficios {
    background: #6d80d4;
    padding: 1vw;
    border-radius: 15px;
}

.porquebeneficios,
.porquemaleficios {
    background: #1c2d76;
    padding: 1vw;
    border-radius: 15px;
}

h2.h2-branco,
h2.h2-preto {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.beneficios h2,
.maleficios h2 {
    color: #191919;
}

ul {
    padding-left: 1rem;
}

ul li {
    margin-bottom: 1rem;
}

p {
    font-size: 1.5rem;
    line-height: 1.7;
}

strong {
    color: #fff;
}

.beneficios p,
.maleficios p {
    color: #1c2d76;
}

.beneficios strong,
.maleficios strong {
    color: #1c2d76;
}

.porquebeneficios p,
.porquemaleficios p {
    color: #cdd4ff;
}

section.tudo img {
    width: 100%;
    border-radius: 15px;
    margin: 1rem 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}



/*-----4-bonsemaushabitos.html-----*/

div.bonsEMausHabitos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    margin: 3rem auto;
    width: 80%;
}

h2.h2-4 {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 2.8rem;
    margin-bottom: 1.2rem;
    letter-spacing: 1px;
    margin: auto;
}

section.bons,
section.maus {
    max-width: 1000px;
    border-radius: 30px;
    padding: 3rem 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff;
}

/* verde */
section.bons {
    border: 5px solid #1e5d2e;
    background: #b3e8bf;
}

section.bons h2 {
    color: #2d7a3d;
}

section.bons p {
    color: #1b4523;
}

section.bons strong {
    color: #2d7a3d;
}

/*vermelho */
section.maus {
    border: 5px solid rgb(178, 84, 84);
    background: #e8b3b3;
}

section.maus h2 {
    color: #7a2d2d;
}

section.maus p {
    color: #4a1b1b;
}

section.maus strong {
    color: #7a2d2d;
}

/* ====== resto ====== */
section.bons img,
section.maus img {
    width: 100px;
    margin: 0 auto;
    border-radius: 50%;
    padding: 0.5rem;
}

ul {
    padding-left: 1.5rem;
    list-style: none;
}

ul li {
    margin-bottom: 1.2rem;
    list-style: none;
}

.centralizarBotoes {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

button.bons,
button.maus {
    border: none;
    border-radius: 25px;
    color: #fff;
    padding: 0.5rem 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

button.bons {
    background-color: #2d7a3d;
}

button.bons:hover {
    background-color: #1e5d2e;
    transition: .2s ease;
    transform: scale(0.9);
}

button.maus {
    background-color: #7a2d2d;
}

button.maus:hover {
    background-color: #5e1f1f;
    transition: .2s ease;
    transform: scale(0.9);
}

/*-----4.1-rotinaidealdosono.html-----*/

section.rotina ul,
section.rotina2 ol {
    list-style: none;
    margin: 2vw 0;
    padding-left: 0;
    font-family: "Baloo Bhai 2", sans-serif;
    font-size: 1.5rem;
    color: #d8d3ee;
}

.conteudo-azul ul {
    list-style: none;
    margin: 2vw 0;
    padding-left: 0;
    font-family: "Baloo Bhai 2", sans-serif;
    font-size: 1.5rem;
    color: #d3d3ee;
}

section.rotina ul li,
section.rotina2 ol li {
    background: #6b4bb05b;
    border-left: 4px solid #9b7af7;
    padding: 12px 18px;
    margin: 10px 0;
    border-radius: 10px;
    color: #d8d3ee;
}

section.rotina2 ul {
    margin-top: 10px;
    margin-left: 1.5rem;
    list-style: none;
}

section.rotina2 ul.conteudo li {
    font-size: 1.3rem;
    border-left: 3px solid #c5b1ff;
    color: #dcd5ff;
    padding: 8px 12px;
    margin: 6px 0;
    border-radius: 10px;
}

/*-----5-tratamentoedoencas.html-----*/

.fontesAzuis {
    list-style: none;
    margin: 1.5em 0 2.5em;
    font-family: "Baloo Bhai 2", sans-serif;
    font-size: 1.5rem;
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
}

.conteudo-azul ul {
    list-style: none;
    margin: 1.5em 0 2.5em;
    font-family: "Baloo Bhai 2", sans-serif;
    font-size: 1.5rem;
}

.conteudo-azul ul li,
.fontesAzuis li {
    background: #6d80d444;
    border-left: 4px solid #6d80d4;
    padding: 12px 18px;
    margin: 10px 0;
    border-radius: 10px;
    color: #e3e8ff;
}

.conteudo-roxo ul,
.fontesRoxas {
    list-style: none;
    margin: 1.5em 0 2.5em;
    font-family: "Baloo Bhai 2", sans-serif;
    font-size: 1.5rem;
    height: 0px;
    overflow: hidden;
    transition: 0.5s height;
}

.conteudo-roxo ul li,
.fontesRoxas li {
    background: #916dd444;
    border-left: 4px solid #8f6dd4;
    padding: 12px 18px;
    margin: 10px 0;
    border-radius: 10px;
    color: #ede3ff;
}

.fontesBrancas {
    list-style: none;
    margin: 1.5em 0 2.5em;
    font-family: "Baloo Bhai 2", sans-serif;
    font-size: 1.5rem;
    height: 0px;
    overflow: hidden;
    transition: 0.5s height;
}

.fontesBrancas li {
    background: #ffffff44;
    border-left: 4px solid #ffffff;
    padding: 12px 18px;
    margin: 10px 0;
    border-radius: 10px;
    color: #ffffff;
}

.fontesBrancas2 {
    list-style: none;
    margin: 1.5em 0 2.5em;
    font-family: "Baloo Bhai 2", sans-serif;
    font-size: 1.5rem;
    height: 0px;
    overflow: hidden;
    transition: 0.5s height;
}

.fontesBrancas2 li {
    background: #ffffff44;
    border-left: 4px solid #ffffff;
    padding: 12px 18px;
    margin: 10px 0;
    border-radius: 10px;
    color: #ffffff;
}


img.tratamentos {
    width: 85%;
    border-radius: 15px;
    display: block;
    margin: 2vw auto;
}

/*-----6-pesquisa.html-----*/

section.perguntas {
    margin: 2vw auto;
    padding: 3vw 3vw;
    max-width: 50vw;
    border-radius: 25px;
    box-shadow: 0 0 25px #5e3fa856;
    background-color: #3b2370b9;
    text-align: left;
    display: flex;
    flex-direction: column;
}

h2.questao {
    text-align: center;
    background: #56349f;
    border-radius: 50px;
    color: #D0D0D0;
    margin: 0 0 2vw 0;
    padding: 10px;
    box-shadow: 5px 2px 15px #23173f86;
    font-family: "Baloo Bhai 2", sans-serif;
}

section.perguntas label {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 1vw 0;
    font-family: "Baloo Bhai 2", sans-serif;
    color: #D0D0D0;
    font-size: 1.2vw;
}

section.perguntas label:hover {
    transition: 0.2s;
    background: #56349f71;
    border-radius: 50px;
    width: 30%;
    padding: 5px 30px;
}

section.perguntas input {
    width: 1.2vw;
    height: 1.2vw;
    border: 3px solid #caa7ff;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

section.perguntas input:checked {
    transition: 0.2s;
    border-color: #a36aff;
    background: radial-gradient(circle, #a36aff 40%, transparent 40%);
}

button.proximo {
    padding: 10px 20px;
    color: #56349F;
    margin: 0 auto;
    display: block;
    width: 40%;
}

button.proximo span {
    margin-right: 15px;
}

button.proximo:hover {
    transform: scale(0.9);
    transition: 0.3s;
    cursor: pointer;
}

h2.verificacao {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 1rem;
    padding-left: 0.7rem;
    margin: 0 auto;
    color: #8663D2;
    text-align: center;
    margin-bottom: 2vw;
}

p.verificacao {
    text-align: center;
}

button.verificacaoButon {
    padding: 10px 20px;
    color: #56349F;
    margin: 0 auto;
    display: block;
    width: 40%;
    margin-top: 2vw;
    font-size: 1.5rem;
    cursor: pointer;
}

button.verificacaoButon:hover {
    transform: scale(0.9);
    transition: 0.2s;
}

/* -----7-areadecontatoeajuda.html-----*/

section.faq {
    padding: 4vw 10vw;
    border-radius: 25px;
}

details {
    background: #6d80d41a;
    border: 2px solid #6d80d4e8;
    border-radius: 15px;
    margin: 1.5rem;
    padding: 1rem 1.5rem;
    max-width: 30vw;
}

summary {
    font-family: "Baloo Bhai 2", sans-serif;
    font-size: 1.5rem;
    color: #e3e8ff;
    cursor: pointer;
    border-bottom: 2px solid #6d80d46f;
    max-width: fit-content;

}

summary .fa-chevron-down {
    transition: .2s ease;
    color: #6d80d4;
    font-size: 1.2rem;
}

details[open] summary .fa-chevron-down {
    transform: rotate(180deg);
}

p.expansao {
    font-family: "Baloo Bhai 2", sans-serif;
    font-size: 1.3rem;
    color: #d0d4f8;
    margin: 1vw 0 0 0;
}

p.expansao a {
    color: #9cbcff;
    font-weight: bold;
    text-decoration: none;
}

p.expansao a:hover {
    transition: .2s ease;
    color: #ffffff;
}

/*-----8-sobrenos.html-----*/


.conteudo-roxo2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 2vw auto;
    padding: 3vw 3vw;
    max-width: 60vw;
    border-radius: 25px;
    box-shadow: 0 0 25px #5e3fa856;
    background-color: #23173faa;
    text-align: left;
}

.conteudo-roxo2 div {
    background: #56349f59;
    border-radius: 25px;
    padding: 1.5vw;
    text-align: center;
    width: 18vw;
    box-shadow: 0 5px 15px #23173f6f;
}


.integrante {
    flex: 0 1 calc(33% - 2rem);
    background: #e3e0f7;
    border-radius: 25px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


.conteudo-roxo2 h2.h2-roxo {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 1.5rem;
    color: #8663D2;
    margin-bottom: 1rem;
}

.conteudo-roxo2 ul {
    list-style: none;
    padding: 0;
}

.conteudo-roxo2 ul li {
    font-family: "Baloo Bhai 2", sans-serif;
    font-size: 1.2rem;
    color: white;
    margin: 0.5rem 0;
}

.conteudo-roxo2 img.sobreNos {
    width: 100%;
    height: auto;
    margin-top: 1rem;
}

img.logo {
    width: 40%;
    border-radius: 100%;
    margin: 2vw;
}



/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------CELULAR---------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 900px) {

    /*----geral----*/


    p {
        font-family: "Baloo Bhai 2", sans-serif;
        color: #D0D0D0;
        font-size: 1.2rem;
        max-width: 80vw;
    }

    p.introducao {
        text-align: center;
    }

    p.conteudo {
        font-size: 1.2rem;
    }

    h1.h1-azul {
        font-size: 30px;
        max-width: 90%;
        padding: 10px 15px 10px 15px;
    }

    h1.h1-roxo {
        font-size: 30px;
        max-width: 90%;
    }

    h2.h2-azul {
        font-size: 35px;
    }

    h2.h2-roxo {
        font-size: 35px;
    }

    button a.fontes {
        border-radius: 50px;
        padding: 5px 10px;
        font-family: "Baloo Bhai 2", sans-serif;
        color: #D0D0D0;
        font-size: 30px;
        text-decoration: none;
        font-weight: bold;

    }

    button.roxo {
        background-color: #3C2370;
        font-size: 30px;
        color: #D0D0D0;
    }

    button.azul {
        background-color: #1C2D76;
        font-size: 30px;
        color: #D0D0D0;
    }


    .centralizarBotoes {
        width: 70% !important;
    }

    .centralizarBotoes ul li {
        width: 100%;
        margin: 0 auto;
    }

    a.fontes:hover {
        transform: scale(1.1);
        transition: .2s;
        cursor: pointer;

    }

    /* -----footer----- */
    footer {
        background-color: #23173F;
        padding: 3vw;
        margin: 5vw 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    footer div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .botoes-redes {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }


    .copyright {
        font-size: 18px;
    }

    footer nav a {
        font-size: 5vw;
        margin: 2px;
        color: #56349F;
    }

    footer nav a.botao-topo {
        font-size: 2rem;
        padding: 12px;
        margin-top: 1rem;
    }


    footer nav button {
        font-size: 5vw;
    }

    form {
        width: 80%;
    }

    p.nomes {
        font-size: 20px;
    }

    div.botoes-footer {
        display: flex;
    }

    div.botoes-footer button {
        font-size: 1rem;
        color: #56349F;
        padding: 10px;
    }

    /*-----header-----*/

    header nav img.header {
        width: 15%;
    }

    .menu {
        display: block;
        z-index: 1001;
    }

    header nav img.header {
        width: 15%;
    }

    .menu {
        display: block;
        z-index: 1001;
    }

    .navLinks {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 250vw;
        background-color: #0D1745;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        padding: 50px 20px;
        gap: 2px;
        list-style: none;
        z-index: 1000;
    }

    .navLinks.active {
        right: 0;
    }

    .navLinks li {
        margin: 1vw;
    }

    .navLinks li a {
        background-color: transparent;
        padding: 15px;
        font-size: 1.3rem;
        color: #D0D0D0;
    }

    .navLinks li.sub a {
        color: #a4b1eb;
    }

    header nav ul li {
        display: block;
    }

    .navLinks li {
        width: 100%;
    }

    .navLinks li a {
        display: block;
        padding: 15px;
        font-size: 1.3rem;
        border-radius: 10px;
    }

    header nav ul li {
        display: block;
    }

    .navLinks li ul {
        display: block;
        border-radius: 10px;
        padding: 0 0 0 5px;
        margin-top: 10px;

    }

    .navLinks li ul li a {
        opacity: 0.85;
        background: #131f5ba4;
    }


    header nav ul li {
        display: block;
    }


    header nav ul li ul {
        display: block;
        background: none;
        margin-top: 1vw;
    }

    header nav ul li a span {
        display: none !important;
    }


    /* -----index.html----- */

    .parte-azul {
        background-color: #1C2D76;
        background: url(../imagens/enxoval.png) no-repeat, #1C2D76;
        background-size: 100% auto, auto;
        display: block;
        width: 90%;
        margin: 30px auto;
        border-radius: 30px;
        padding: 40vw 0 10vw 5vw;
        color: white;
    }

    .esquerda {
        display: block;
    }



    .parte-azul h1 {
        font-size: 60px;
    }

    .parte-azul p {
        font-size: 15px;
        margin: 0 0 0 12vw
    }


    .parte-roxa {
        background-color: #56349F;
        width: 90%;
        padding: 40px;
        display: block;
        border-radius: 30px;
        margin: auto;
    }

    .parte-roxa h2 {
        font-size: 1.5rem;
        text-align: center;
        margin: 0;
    }

    .parte-roxa p {
        font-size: 1.2rem;
        margin-bottom: 5vw;
    }

    section.convite div.parte-roxa a.botao-roxo {
        font-size: 1.1rem;
        margin: 5vw 0;
        max-width: 80%;
        padding: 10px;
    }

    section.convite div.parte-roxa a.botao-roxo:hover {
        transform: scale(0.95);
        transition: 0.2s ease-in-out;
    }

    button.roxo,
    button.azul {
        font-size: 1.5rem;
    }

    ul.fontesRoxas li,
    ul.fontesAzuis li {
        font-size: 1.2rem;
        width: 100% !important;
    }

    .botoes {
        display: block;
    }

    button {
        display: block;
        margin: 1vw;
        font-size: 10px;
        font-family: "Baloo Bhai 2", sans-serif;
        border-radius: 40px;
        border: none;
        padding: 0 12px 0 12px;
        color: #191919;
    }

    button a {
        text-decoration: none;
        color: inherit;
    }

    section.convite a.insta {
        margin: 5vw auto;
        font-size: 1.1rem;
    }

    section.convite a.twt {
        margin: 5vw auto;
        font-size: 1.1rem;

        text-align: center;
    }

    section.convite a:hover {
        transform: scale(0.95);
        transition: transform 0.2s ease-in-out;

    }

    section.convite {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .parte-azul2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 30px auto;
        padding: 5vw;
        align-items: center;
        gap: 55px;
    }

    p.teste {
        margin-bottom: 5vw;
    }

    div.parte-azul2 a.botao-azul {
        display: block;
        text-align: center;
        font-size: 1rem;
        border-radius: 30px;
        padding: 10px 15px;
        width: 65vw;
        margin: 0 auto;
    }

    div.parte-azul2 a.botao-azul:hover {
        transition: .2s ease;
        background-color: #f1f1f1;
    }

    div.parte-azul2 img {
        width: 100%;
    }

    /* -----2-oqueésono.html----- */

    p.introducao {
        max-width: 90vw;
        margin: auto;
        color: #D0D0D0;
    }

    div.conteudo-azul {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.conteudo-roxo {
        max-width: 100%;
    }

    img.carrossel {
        max-width: 80%;
    }

    .carrossel {
        align-items: center;
        margin: 4vw 0;
        flex-direction: column;
    }

    .carro-container {
        width: 80vw;
        height: auto;
    }

    .carro-container img {
        width: 80vw;
        height: auto;
    }

    /* -----3-sonoesaudemental----- */

    /* -----3.1-beneficiosemaleficios----- */

    section.tudo {
        display: block;
        margin: auto;
        width: 90%;
    }

    section.beneficios,
    section.maleficios,
    section.porquebeneficios,
    section.porquemaleficios {
        width: 90%;
        margin: 2vw auto;
    }

    h2.h2-branco {
        font-size: 30px;
    }

    h2.h2-preto {
        font-size: 30px;
    }

    section.beneficios {
        width: 90%;
    }

    section.maleficios {
        width: 90%;
    }

    section.porquebeneficios {
        width: 90%;
    }

    section.porquemaleficios {
        width: 90%;
    }

    div {
        justify-content: center;
    }

    /*-----4-bonsemaushabitos.html-----*/

    section.inicio-4 p {
        text-align: center;
    }

    div.bonsEMausHabitos {
        display: block;
        width: 90%;
    }

    section.bons img {
        width: 25%;
    }

    section.maus img {
        width: 25%;
    }

    section.bons {
        padding: 5vw;
        margin: 2vw;
    }

    section.maus {
        padding: 5vw;
        margin: 2vw;
    }

    .maus img {
        width: 80%;
        display: block;
        margin: auto;
        border-radius: 30px;
    }

    button.maus {
        background-color: #5E1616;
        color: #D0D0D0;
        font-size: 1.2rem;

    }

    button.bons {
        background-color: #165E26;
        color: #D0D0D0;
        font-size: 1.2rem;
    }


    /*-----4.1-rotinaidealdosono.html-----*/
    section.rotina ul {
        font-size: 1.2rem;
        max-width: 80vw;
    }

    section.rotina2 ol {
        font-size: 1.2rem;
        max-width: 80vw;
    }

    /*-----5-tratamentoedoencas.html-----*/
    div.conteudo-azul ul {
        font-family: "Baloo Bhai 2", sans-serif;
        font-size: 1.2rem;
        max-width: 80vw;
    }

    div.conteudo-azul ul p {
        font-size: 20px;
        max-width: 80vw;

    }

    img.tratamentos {
        width: 80%;
    }

    div.tratamentos {
        margin: auto;
    }


    /*-----6-pesquisa.html-----*/

    section.perguntas {
        max-width: 90vw;
        padding: 5vw 6vw;
    }

    h2.questao {
        font-size: 1.2rem;
        padding: 8px;
        border-radius: 25px;
    }

    section.perguntas label {
        font-size: 1rem;
        gap: 10px;
    }

    section.perguntas input {
        width: 4vw;
        height: 4vw;
    }

    section.perguntas label:hover {
        width: 80%;
        padding: 8px 15px;
    }

    button.proximo {
        width: 70%;
        padding: 12px;
        font-size: 4vw;
    }

    /* -----7-areadecontatoeajuda.html-----*/

    summary {
        font-family: "Baloo Bhai 2", sans-serif;
        color: #D0D0D0;
        font-size: 20px;
        margin: 10px;
        list-style: none;
        width: 90%;
        border-bottom: 2px solid #6d80d46f;
        padding-bottom: 18px;
    }

    details {
        max-width: 85%;
    }

    section.faq {
        padding: 0 5vw;
    }

    p.expansao {
        font-family: "Baloo Bhai 2", sans-serif;
        color: #aca7a7;
        font-size: 20px;
        margin: 20px;
        max-width: fit-content;
    }

    p.expansao a {
        font-family: "Baloo Bhai 2", sans-serif;
        color: #293f9f;
        font-weight: bold;
        font-size: 20px;
    }

    /*-----8-sobrenos.html-----*/


    .conteudo-roxo2 {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .integrante {
        flex: 0 0 95%;
        max-width: 65%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .integrante h2 {
        margin-bottom: 0.5rem;
    }

    .integrante ul {
        order: 2;
        padding: 0;
        margin: 0.5rem 0 1rem 0;
        list-style: none;
    }

    .integrante img.sobreNos {
        margin: 0 auto;
    }


    img.logo {
        width: 30vw;
        display: block;
        margin: 2rem auto;
    }

}

/* atendimento dev web: 
footer: botao de topo nao fica embaixo, mandei email para o professor kennedy
*/

/*obs: COISAS QUE MUDARÃO COM JAVASCRIPT -
    a galeria de imagens do N1, N2 E N3
    os botões de fontes aparecerão um bloco com todas as fontes quando aperta
    a header para celulares
    */

/* coisas pra arrumar:
centralizacao da imagem em beneficios e maleficios
alinhamento pagina sobre nós */

@media screen and (min-width: 900px) {

    iframe {
        width: 650px;
        height: 350px;
    }

    section.tudo {
        display: flex;
        justify-content: center;
        gap: 2vw;
        margin: auto;
        width: 90%;
    }


    .direita {
        display: flex;
        flex-direction: column;
        width: 45%;
    }

    .esquerda {
        width: 45%;
    }

    section.beneficios,
    section.maleficios,
    section.porquebeneficios,
    section.porquemaleficios {
        width: 100%;
        margin: 2vw 0;
    }

    header nav ul li:hover ul {
        display: block;
        position: absolute;
    }

    details {
        max-width: 45%;
    }

    footer nav.botao-topo {
    position: relative;
    top: 180px;
    margin: 1vw 0;
}
}

@media (min-width: 742px) and (max-width: 1024px) {

    .navLinks li {
        margin: 3px;
    }

    button.roxo,
    button.azul {
        font-size: 1.5rem;
    }

    ul.fontesRoxas li,
    ul.fontesAzuis li {
        font-size: 1.2rem;
    }

    iframe {
        height: 300px;
    }
}