body {
    margin: 0;
    padding: 0;
    background-color: #191919;
}

ul li{
    list-style: none;
}
* {
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
    box-sizing: border-box;
}


p {
    font-family: "Baloo Bhai 2", sans-serif;
    color: #D0D0D0;
    font-size: 30px;
    max-width: 50vw;
}

p.introducao{
    text-align: center;
}

h1.h1-azul {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 55px;
    margin: 20px auto;
    color: #6D80D4;
    background-color: #1C2D76;
    border-radius: 100px;
    max-width: fit-content;
    text-align: center;
}

h1.h1-roxo {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 55px;
    margin: 30px auto;
    color: #8663D2;
    background-color: #3C2370;
    border-radius: 100px;
    max-width: fit-content;
    text-align: center;
}

h2.h2-azul {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 50px;
    margin: 10px 0;
    color: #6D80D4;
}

h2.h2-roxo {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 50px;
    margin: 10px 0;
    color: #8663D2;
}

div.conteudo-azul {
    margin: 2vw auto;
    padding: 5vw 5vw;
    max-width: 50vw;
    background-color: #0D1745;
}

div.conteudo-roxo {
    margin: 2vw auto;
    padding: 5vw 5vw;
    max-width: 50vw;
    background-color: #23173F;
}

button a.fontes{
    border-radius: 50px;
    padding: 5px 10px;
    font-family: "Baloo Bhai 2", sans-serif;
    color: #D0D0D0;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;

}

button.roxo{
    background-color: #3C2370;
}

button.azul{
    background-color: #1C2D76;
}


div.centralizarBotoes{
    justify-content: center;
    display: flex;
}

a.fontes:hover{
    transform: scale(1.1);
    transition: .2s;
    cursor: pointer;

}

button{
    border-radius: 50px;
    font-family: "Baloo Bhai 2", sans-serif;
    color: #D0D0D0;
    font-size: 30px;
    font-weight: bold;
}

/* -----footer----- */
footer {
    background-color: #23173F;
    padding: 1vw;
    margin: 5vw 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    /*Ver no atendimento dev web*/
}


.copyright {
    font-size: 20px;
    color: #56349F;
}

.esquerda-footer {
    display: block;
}

footer nav a {
    font-size: 1.5rem;
    margin: 2px;
    color: #56349F;
}

footer nav a.botao-topo{
    font-size: 2vw;
    color: #3C2370;
    border-radius: 50px;
    background: white;
    padding: 10px; 
    border-radius: 50%;
}

footer nav a.botao-topo:hover{
    transform: scale(0.9);
    transition: 0.2s ease-in-out;
}

.hypnos {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 25px;
    color: #56349F;
}

footer nav button{
    font-size: 2vw;
    color: #3C2370;
}

p.nomes {
    font-size: 20px;
}

div.botoes-footer{
    display: flex;
}

div.botoes-footer a:hover {
  color: white;
}

div.botoes-footer button{
    font-size: 25px;
    color: #56349F;
    margin: 5px;
    border-radius: 25px;
    font-family: "Baloo Bhai 2", sans-serif;
}

/*-----header-----*/
header img.header{
    width: 4vw;
    margin-left: 25px;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D1745;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

header nav ul li {
    position: relative;
    display: flex;
    margin: 0 0.5vw 0 0.5vw;
    font-family: "Baloo Bhai 2", sans-serif;
    color: #D0D0D0;
    font-size: 20px;
}

header nav ul li ul {
    display: none;
    background-color: #1C2D76;
    border-radius: 50px;
    padding: 5px 5px;
    top: 100%;
    margin-top: 3px;
}

header nav ul li:hover ul {
    display: block;
    position: absolute;
}

header nav ul li a {
    text-decoration: none;
    text-align: center;
    color: inherit;
    background-color: #1C2D76;
    border-radius: 50px;
    padding: 10px;
    white-space: nowrap;
    min-width: 120px;
}

header nav ul li a:hover {
    transform: scale(0.9);
    transition: 0.2s ease-in-out;
    color: #0D1745;
}



/* -----index.html----- */

.parte-azul {
    background-color: #1C2D76;
    background: url(../imagens/enxoval.png) no-repeat, #1C2D76;
    background-size: 100% auto, auto;
    display: flex;
    width: 90%;
    margin: 30px auto;
    border-radius: 30px;
    padding: 40vw 0 10vw 5vw;
    color: white;
}

.esquerda {
    display: block;
}



.parte-azul h1 {
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-size: 140px;
    color: #0D1745;
}

.parte-azul img {
    width: 100%;
    border-radius: 30px;
    margin: -30px;
}

.parte-azul p {
    font-family: "Abhaya Libre", serif;
    font-weight: 500;
    font-size: 40px;
    color: #6D80D4;
    position: absolute;
    margin: -2vw 0 0 12vw
}


.parte-roxa {
    background-color: #56349F;
    width: 32%;
    padding: 40px;
    display: block;
    border-radius: 30px;
}

.parte-roxa h2 {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 40px;
    color: #191919;
    text-align: center;
    margin: 0;
}

.parte-roxa p {
    font-family: "Baloo Bhai 2", sans-serif;
    color: #23173F;
    font-size: 30px;
    text-align: center;
}

section.convite div.parte-roxa a {
    background-color: #191919;
    color: #56349F;
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 30px;
    border-radius: 100px;
    border: none;
    padding: 10px 15px 10px 15px;
    margin: 0 auto;
    color: #56349F;
    text-decoration: none;
}

section.convite div.parte-roxa a.botao-roxo:hover {
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;

}

.botoes {
    display: block;
}

button.twt {
    background-color: #8663D2;
}

section.convite a.insta{
display: block;
    margin: 1vw;
    font-size: 30px;
    font-family: "Baloo Bhai 2", sans-serif;
    border-radius: 40px;
    border: none;
    padding: 0 12px 0 12px;
    color: #191919;
    background-color: #687DD8;
    text-decoration: none;
    color: inherit;
}

section.convite a.twt{
display: block;
    margin: 1vw;
    font-size: 30px;
    font-family: "Baloo Bhai 2", sans-serif;
    border-radius: 40px;
    border: none;
    padding: 0 12px 0 12px;
    color: #191919;
    background-color: #8663D2;
    text-decoration: none;
    color: inherit;
}

section.convite a:hover {
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;

}

section.convite {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -----2-oqueésono.html----- */

p.introducao {
    max-width: 70vw;
    margin: auto;
    color: #D0D0D0;
}


img.carrossel {
    max-width: 20vw;
    border-radius: 10px;
    margin: auto;
}

/* -----3-sonoesaudemental----- */

/* -----3.1-beneficiosemaleficios----- */

section.tudo{
    display: flex;
  justify-content: space-between;
    margin: auto;
    width: 90%;
}

.beneficios, .porquebeneficios, .maleficios, .porquemaleficios {
 text-align: center;
    margin: 2vw;
    padding: 2vw;
    border-radius: 50px;
}

h2.h2-branco {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 50px;
    margin: 10px 0;
    color: #D0D0D0;
    text-align: center;
}

h2.h2-preto {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 50px;
    margin: 10px 0;
    color: #191919;
    text-align: center;
}

section.beneficios{
    background: #6D80D4;
    border-radius: 50px;
    width: 70%;
    margin: 2vw 0;
}

section.beneficios ul li p{
    color: #1C2D76;
    padding: 1vw 3vw;
}

section.maleficios{
    background: #6D80D4;
    border-radius: 50px;
    width: 70%;
    margin: 2vw 0;
}

section.maleficios ul li p{
    color: #1C2D76;
    padding: 1vw 3vw;
}

section.porquebeneficios{
    background: #1C2D76;
    border-radius: 50px;
    width: 70%;
    margin: 2vw 0;
}

section.porquebeneficios ul li p{
    color: #8697e4;
    padding: 1vw 3vw;
}

section.porquemaleficios{
    background: #1C2D76;
    border-radius: 50px;
    width: 70%;
    margin: 2vw 0;
}

section.porquemaleficios ul li p{
    color: #8697e4;
    padding: 1vw 3vw;
}

/*-----4-bonsemaushabitos.html-----*/

section.inicio-4 p {
    text-align: center;
}

div.bonsEMausHabitos {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}

h2.h2-4 {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 50px;
    margin: 10px 0;
    color: #D0D0D0;
}

section.bons {
    text-align: center;
    background-color: #54B268;
    margin: 2vw;
    padding: 2vw;
    border-radius: 50px;
}

section.maus {
    text-align: center;
    background-color: #B25454;
    margin: 2vw;
    padding: 2vw;
    border-radius: 50px;
}

section.bons p {
    color: #165E26;
}

section.bons h2 {
    color: #165E26;
}

section.maus p {
    color: #5E1616;
}

section.maus h2 {
    color: #5E1616;
}

section.bons img {
    width: 15%;
    display: block;
    margin: auto;
}

section.maus img {
    width: 15%;
    display: block;
    margin: auto;
}

img {
    width: 50%;
    display: block;
    margin: auto;
    border-radius: 50px;
}

button.maus{
    background-color: #5E1616;

}

button.bons{
    background-color: #165E26;

}

/*-----4.1-rotinaidealdosono.html-----*/
section.rotina ul {
    font-family: "Baloo Bhai 2", sans-serif;
    font-size: 30px;
    max-width: 50vw;
}

section.rotina ul li{
    color: #8663D2;
    font-weight: bold;
}

section.rotina2 ol {
    font-family: "Baloo Bhai 2", sans-serif;
    font-size: 30px;
    max-width: 50vw;
}

section.rotina2 ol li{
    color: #D0D0D0;
    font-weight: bold;
}

section.rotina2 ul li{
    color: #8663D2;
    font-weight: bold;
}

/*-----5-tratamentoedoencas.html-----*/
div.conteudo-azul ul{
 font-family: "Baloo Bhai 2", sans-serif;
    font-size: 30px;
    max-width: 50vw;
}

div.conteudo-azul ul li{
 color: #6D80D4;
    font-weight: bold;
    list-style: circle;
}

div.conteudo-azul ul p{
 font-family: "Baloo Bhai 2", sans-serif;
    color: #D0D0D0;
    font-size: 25px;
    max-width: 50vw;
 font-weight: normal;
    
}

img.tratamentos{
    width: 30%;
}

div.tratamentos{
    margin: auto;
}

p.paragrafo{
    font-weight: normal;
}

/* -----7-areadecontatoeajuda.html-----*/

summary {
    font-family: "Baloo Bhai 2", sans-serif;
    color: #D0D0D0;
    font-size: 30px;
    margin: 10px;
    list-style: none;
    width: 30%;
    border-bottom: 4px solid #1C2D76;
    padding-bottom: 18px;
}

summary{
    width: 50%!important;
    display: flex;
    justify-content: space-between;
}


section.faq {
    padding: 0 5vw;
}


p.expansao {
    font-family: "Baloo Bhai 2", sans-serif;
    color: #aca7a7;
    font-size: 25px;
    margin: 20px;
    max-width: 40vw;
}

p.expansao a {
    font-family: "Baloo Bhai 2", sans-serif;
    color: #293f9f;
    font-weight: bold;
    font-size: 25px;
}

/*-----8-sobrenos.html-----*/
ul li {
    color: #3C2370;
}

img.logo{
    width: 15vw;
    border-radius: 100%;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------CELULAR---------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 900px) {

    /*----geral----*/


p {
    font-family: "Baloo Bhai 2", sans-serif;
    color: #D0D0D0;
    font-size: 20px;
    max-width: 80vw;
}

p.introducao{
    text-align: center;
}

h1.h1-azul {
    font-size: 30px;
    max-width: 90%;    padding: 10px 15px 10px 15px;
}

h1.h1-roxo {
    font-size: 30px;
    max-width: 90%;
}

h2.h2-azul {
    font-size: 35px;
}

h2.h2-roxo {
    font-size: 35px;
}

button a.fontes{
    border-radius: 50px;
    padding: 5px 10px;
    font-family: "Baloo Bhai 2", sans-serif;
    color: #D0D0D0;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;

}

button.roxo{
    background-color: #3C2370;
}

button.azul{
    background-color: #1C2D76;
}


div.centralizarBotoes{
    justify-content: center;
    display: flex;
}

a.fontes:hover{
    transform: scale(1.1);
    transition: .2s;
    cursor: pointer;

}

/* -----footer----- */
footer {
    background-color: #23173F;
    padding: 1vw;
    margin: 5vw 0 0 0;
    display: block;
}


.copyright {
    font-size: 18px;
}

footer nav a {
    font-size: 5vw;
    margin: 2px;
    color: #56349F;
}

footer nav a {
    font-size: 5vw;
}

footer nav button{
    font-size: 5vw;
}

p.nomes {
    font-size: 20px;
}

div.botoes-footer{
    display: flex;
}

div.botoes-footer button{
    font-size: 25px;
    color: #56349F;
}

/*-----header-----*/



/*vai usar javascript*/



/* -----index.html----- */

.parte-azul {
    background-color: #1C2D76;
    background: url(../imagens/enxoval.png) no-repeat, #1C2D76;
    background-size: 100% auto, auto;
    display: block;
    width: 90%;
    margin: 30px auto;
    border-radius: 30px;
    padding: 40vw 0 10vw 5vw;
    color: white;
}

.esquerda {
    display: block;
}



.parte-azul h1 {
    font-size: 60px;
}

.parte-azul p {
    font-size: 15px;
    margin: 0 0 0 12vw
}


.parte-roxa {
    background-color: #56349F;
    width: 70%;
    padding: 40px;
    display: block;
    border-radius: 30px;
    margin: auto;
}

.parte-roxa h2 {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 25px;
    color: #191919;
    text-align: center;
    margin: 0;
}

.parte-roxa p {
    font-family: "Baloo Bhai 2", sans-serif;
    color: #23173F;
    font-size: 20px;
    text-align: center;
}

.parte-roxa button {
    background-color: #191919;
    color: #56349F;
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 1px;
    border-radius: 100px;
    border: none;
    margin: auto;
}

.parte-roxa button a{
    color: #56349F;
    text-decoration: none;
}

.parte-roxa button:hover {
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;

}

.botoes {
    display: block;
}

button {
    display: block;
    margin: 1vw;
    font-size: 10px;
    font-family: "Baloo Bhai 2", sans-serif;
    border-radius: 40px;
    border: none;
    padding: 0 12px 0 12px;
    color: #191919;
}

button a{
    text-decoration: none;
    color: inherit;
}

button.insta {
    background-color: #687DD8;
}

button.twt {
    background-color: #8663D2;
}

button:hover {
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;

}

section.convite {
    display: block;
    justify-content: center;
    align-items: center;
}

/* -----2-oqueésono.html----- */

p.introducao {
    max-width: 90vw;
    margin: auto;
    color: #D0D0D0;
}

div.conteudo-azul {
    max-width: 100%;
}

div.conteudo-roxo {
    max-width: 100%;
}


img.carrossel {
    max-width: 80%;
}

/* -----3-sonoesaudemental----- */

/* -----3.1-beneficiosemaleficios----- */

section.tudo{
    display: block;
  justify-content: space-between;
    margin: auto;
    width: 90%;
}

h2.h2-branco {
    font-size: 30px;
}

h2.h2-preto {
    font-size: 30px;
}

section.beneficios{
    width: 90%;
}

section.maleficios{
    width: 90%;
}

section.porquebeneficios{
    width: 90%;
}

section.porquemaleficios{
    width: 90%;
}
/*-----4-bonsemaushabitos.html-----*/

section.inicio-4 p {
    text-align: center;
}

div.bonsEMausHabitos {
    display: block;
    width: 100%;
}

section.bons img {
    width: 25%;
}

section.maus img {
    width: 25%;
}

section.bons{
    padding: 5vw;
}

section.maus{
    padding: 5vw;
}

img {
    width: 80%;
    display: block;
    margin: auto;
    border-radius: 30px;
}

/*-----4.1-rotinaidealdosono.html-----*/
section.rotina ul {
    font-size: 23px;
    max-width: 80vw;
}

section.rotina2 ol {
    font-size: 23px;
    max-width: 80vw;
}


section.rotina2 ul li{
    color: #8663D2;
    font-weight: bold;
}

/*-----5-tratamentoedoencas.html-----*/
div.conteudo-azul ul{
 font-family: "Baloo Bhai 2", sans-serif;
    font-size: 20px;
    max-width: 80vw;
}

div.conteudo-azul ul li{
list-style: circle;
}

div.conteudo-azul ul p{
    font-size: 20px;
    max-width: 80vw;
    
}

img.tratamentos{
    width: 80%;
}

div.tratamentos{
    margin: auto;
}

/* -----7-areadecontatoeajuda.html-----*/

summary {
    font-family: "Baloo Bhai 2", sans-serif;
    color: #D0D0D0;
    font-size: 20px;
    margin: 10px;
    list-style: none;
    width: 70%;
    border-bottom: 4px solid #1C2D76;
    padding-bottom: 18px;
}

section.faq {
    padding: 0 5vw;
}

p.expansao {
    font-family: "Baloo Bhai 2", sans-serif;
    color: #aca7a7;
    font-size: 20px;
    margin: 20px;
    max-width: fit-content;
}

p.expansao a {
    font-family: "Baloo Bhai 2", sans-serif;
    color: #293f9f;
    font-weight: bold;
    font-size: 20px;
}

/*-----8-sobrenos.html-----*/
ul li {
    color: #3C2370;
}

img.logo{
    width: 45vw;
}


    /*obs dica da hali: repetir o menu no html e dps botar 
    <button onclick="menuShow()"> </button> ><img class="icon" src="../imagens/menu.png"></button>
    e fazer javascript pra mostrar*/
}

/*       ==============================================3-saude mental============================================================================================ */



/* atendimento dev web: 
footer: botao de topo nao fica embaixo (mandei email para professor)
*/

/*ARRUMAR:
tela inicial hypnos no celular e centralizar botão
botões no celular
*/
@media screen and (min-width: 900px) {

    iframe{
    width: 650px;
    height: 350px;
}
}